{% extends "base.html" %}
{% load static %}
{% load bag_tools %}

{% block extra_title %} - Shopping Bag {% endblock %}

{% block page_header %}

    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>

{% endblock %}

{% block content %}

    <div class="overlay"></div>
    <!----- Shopping Bag ------------------------------------------>
    <div class="container mb-5">
        <div class="row">
            <div class="col">
                <hr>
                <h1 class="mb-3">Shopping Bag</h1>
                <hr>
            </div>
        </div>
        <!----- If Products in Bag Display ----->
        {% if bag_items %}
            {% for item in bag_items %}
            <!----- Bag Product Display ----->
            <div class="row text-center">
                <div class="col-12 col-md-3 mb-4">
                    <!----- Image ----->
                    {% if item.product.image %}
                        <img class="img-fluid rounded bag-img" src="{{ item.product.image.url }}" alt="{{ item.product.name }}">
                    {% else %}
                        <img class="img-fluid rounded bag-img" src="{{ MEDIA_URL }}noimage.png" alt="{{ item.product.name }}">
                    {% endif %}
                </div>
                <!----- Name, Size and SKU ----->
                <div class="col-12 col-md-3 mb-4">
                    <p class="my-0">{{ item.product.name }}</p>
                    <p class="my-0"><strong>Size: </strong>{% if item.product.has_sizes %}{{ item.size|upper }}{% else %}N/A{% endif %}</p>
                    <p class="my-0 small text-muted">SKU: {{ item.product.sku|upper }}</p>
                </div>
                <!----- Update Quantity of Product Form ----->
                <div class="col-6 offset-3 col-md-3 offset-md-0 mb-4">
                    <p class="small mb-1"><strong>Quantity:</strong></p>
                    <form class="form update-form" action="{% url 'adjust_bag' item.item_id %}" method="POST">
                        {% csrf_token %}
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <button class="decrement-qty btn btn-sm rounded-0" 
                                        data-item_id="{{ item.item_id }}" id="decrement-qty_{{ item.item_id }}">
                                        <span>
                                            <i class="fas fa-minus fa-sm"></i>
                                        </span>
                                    </button>
                                </div>
                                <input class="form-control form-control-sm qty_input" type="number" name="quantity"
                                value="{{ item.quantity }}" min="1" max="99" data-item_id="{{ item.item_id }}" id="id_qty_{{ item.item_id }}">
                                <div class="input-group-append">
                                    <button class="increment-qty btn btn-sm rounded-0"
                                        data-item_id="{{ item.item_id }}" id="increment-qty_{{ item.item_id }}">
                                        <span>
                                            <i class="fas fa-plus fa-sm"></i>
                                        </span>
                                    </button>
                                </div>
                                {% if item.product.has_sizes %}
                                    <input type="hidden" name="product_size" value="{{ item.size }}">
                                {% endif %}
                            </div>
                        </div>
                    </form>
                    <!----- Update Quantity of Product Buttons ----->
                    <a class="update-link text-info"><small>Update</small></a>
                    <a class="remove-item text-danger" id="remove_{{ item.item_id }}" data-product_size="{{ item.size }}"><small>Remove</small></a>
                </div>
                <!----- Subtotal Of Product ----->
                <div class="col-12 col-md-3 mb-4">
                    <p class="my-0"><strong>Subtotal: </strong>£{{ item.product.price | calc_subtotal:item.quantity }}</p>
                </div>
            </div>
            <hr>
            {% endfor %}
            <div class="row">
                <!----- Bag Total Display ----->
                <div class="col-12 mt-4">
                    <h6><strong>Bag Total: £{{ total|floatformat:2 }}</strong></h6>
                    <h6>Delivery: £{{ delivery|floatformat:2 }}</h6>
                    <h4 class="mt-4"><strong>Grand Total: £{{ grand_total|floatformat:2 }}</strong></h4>
                    {% if free_delivery_delta > 0 %}
                        <p class="mb-1 text-danger">
                            You could get free delivery by spending just <strong>£{{ free_delivery_delta }}</strong> more!
                        </p>
                    {% endif %}
                </div>
                <!----- Continue Buttons ----->
                <div class="col-12 mt-4">
                    <a href="{% url 'products' %}" class="btn rounded-0 btn-lg bb2 me-4 my-3">
                        <span class="icon">
                            <i class="fas fa-chevron-left"></i>
                        </span>
                        <span class="text-uppercase">Keep Shopping</span>
                    </a>
                    <a href="{% url 'checkout' %}" class="btn rounded-0 btn-lg bb1 my-3">
                        <span class="text-uppercase">Secure Checkout</span>
                        <span class="icon">
                            <i class="fas fa-lock"></i>
                        </span>
                    </a>
                </div>
            </div>
        </div>
        {% else %}
        <!----- If Bag is Empty ----->
        <div class="col">
            <p class="lead mb-5">Your bag is empty.</p>
            <a href="{% url 'products' %}" class="btn rounded-0 btn-l bb2">
                <span class="icon">
                    <i class="fas fa-chevron-left"></i>
                </span>
                <span class="text-uppercase">Keep Shopping</span>
            </a>
        </div>
        {% endif %}
    </div>
    
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/quantity_input_script.html' %}

<script type="text/javascript">
    // update quantity on click 
    $('.update-link').click(function(e){
        var form = $(this).prev('.update-form');
        form.submit();
    })
    // remove item and reload on click
    $('.remove-item').click(function(e) {
        var csrfToken = "{{ csrf_token }}";
        var itemId = $(this).attr('id').split('remove_')[1];
        var size = $(this).data('product_size');
        var url = `/bag/remove/${itemId}/`;
        var data = {'csrfmiddlewaretoken': csrfToken, 'product_size': size};
        $.post(url, data)
         .done(function() {
             location.reload();
         });
    })
</script>

{% endblock %}