{% extends "base.html" %}
{% load static %}

{% block page_header %}

    <div class="container header-container-home">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>

{% endblock %}

{% block content %}

        <!----- Carousel ------------------------------------------>
        <div class="container-fluid justify-content-center carousel-padding">
            <div id="carousel-fade" class="carousel slide carousel-fade mt-3 mb-3" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <!---- New Arrivals ---->
                    <div class="carousel-item active">
                        <a href="#">
                            <img src="{% static 'images/newarrivals.jpg' %}" class="d-block w-100" alt="...">
                        </a>
                    </div>
                    <!---- Sale Items ---->
                    <div class="carousel-item">
                        <a href="#">
                            <img src="{% static 'images/saleitems.jpg' %}" class="d-block w-100" alt="...">
                        </a>
                    </div>
                </div>
                <!---- Buttons ---->
                <!-- <button class="carousel-control-prev" type="button" data-bs-target="#carousel-fade"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carousel-fade"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button> -->
            </div>
        </div>

        <!----- Featured Brands ----------------------------------->
        <div class="container-fluid text-center">
            <h1 class="text-center mt-5 mb-5">
                <span class="underline title-span">Featured</span> Brands
            </h1>
            <div class="row justify-content-center">
                <div class="col-6 col-md-3">
                    <a href="{% url 'products' %}?brand=nikesb">
                        <img class="brand-img" src="{% static 'images/nikesblogo.jpg' %}" alt="NikeSB Logo">
                    </a>
                </div>
                <div class="col-6 col-md-3">
                    <a href="{% url 'products' %}?brand=tensor">
                        <img class="brand-img" src="{% static 'images/tensorlogo.jpg' %}" alt="Tensor Logo">
                    </a>
                </div>
                <div class="col-6 col-md-3">
                    <a href="{% url 'products' %}?brand=santa_cruz">
                        <img class="brand-img" src="{% static 'images/santacruzlogo.jpg' %}" alt="Santa Cruz Logo">
                    </a>
                </div>
                <div class="col-6 col-md-3">
                    <a href="{% url 'products' %}?brand=chocolate">
                        <img class="brand-img" src="{% static 'images/chocolatelogo.jpg' %}" alt="Chocolate Logo">
                    </a>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-6 col-md-3">
                    <a href="{% url 'products' %}?brand=real">
                        <img class="brand-img" src="{% static 'images/reallogo.jpg' %}" alt="Real Logo">
                    </a>
                </div>
                <div class="col-6 col-md-3">
                    <a href="{% url 'products' %}?brand=planb">
                        <img class="brand-img" src="{% static 'images/planblogo.jpg' %}" alt="PlanB Logo">
                    </a>
                </div>
                <div class="col-6 col-md-3">
                    <a href="{% url 'products' %}?brand=etnies">
                        <img class="brand-img" src="{% static 'images/etnieslogo.jpg' %}" alt="Etnies Logo">
                    </a>
                </div>
                <div class="col-6 col-md-3">
                    <a href="{% url 'products' %}?brand=independent">
                        <img class="brand-img" src="{% static 'images/independentlogo.jpg' %}" alt="Independent Logo">
                    </a>
                </div>
            </div>
        </div>

        <!----- About Section ------------------------------------->
        <div class="container">
            <div class="row">
                <div class="col">
                    <h1 class="text-center mt-5"><span class="underline title-span">About</span> Above Board</h1>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p class="text-center welcome-text">
                        Welcome to Above Board, the online skateshop built FOR skaters, BY skaters!
                        At Above Board, we're not just here to kit you out, we're here to provide you with
                        all the skating info you could possibly need! Head over to Help & Guidance for hints and tips,
                        links to social media and much more!
                    </p>
                </div>
            </div>
        </div>

{% endblock %}