<div class="container-fluid review-container">
    <div class="row">
        <div class="col-12 col-md-10 col-lg-6 offset-lg-3"> 
            <h1 class="text-center underline">Reviews</h1> 
            {% for review in product.reviews.all %}
                <div class="card review-container mt-5">
                    {% if review.user == request.user or request.user.is_superuser %}
                        <div class="card-head text-right">
                            <a class="btn btn-info edit-btn" href="{% url 'edit_review' review.id %}#reviews">
                                Edit Review
                            </a>
                        </div>
                    {% endif %}
                    <div class="card-body">
                        <p class="small text-muted"> by {{ review.user }} on {{ review.date_added|date:"d-m-Y"}}</p>    
                        <p class="card-title">{{ review.title }}<i class="ml-5 fas fa-star"></i> {{ review.rating }}/5</p>
                        <p class="card-text lead">{{ review.content }}</p>
                    </div>
                </div>
            {% empty %}
                <div class="text-center mt-5">
                    <p class="review-text">No reviews yet! Why not leave the first review?</p>
                </div>
            {% endfor%}
        </div>
    </div>
    <div id="reviews" class="row">
        <div class="col-12 col-md-10 col-lg-4 offset-lg-4">
            <h5 class="text-center mt-5 mb-2">Why not write your own review?</h5>
            {% if request.user.is_authenticated %}
                {% if edit %}
                    <form method="POST" action="{% url 'edit_review' review.id %}#reviews">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <div class="text-right">
                            <button class="btn btn-info font-weight-bold" type="submit">Update Review</button>
                        </div>
                    </form>
                {% else %}
                    <form method="POST" action="{% url 'add_review' product.id %}#reviews">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <div class="text-right">
                            <button class="btn btn-info font-weight-bold" type="submit">Submit Review</button>
                        </div>
                    </form>
                {% endif %}
            {% else %}
            <p class="review-text">
                <a href="{% url 'account_signup' %}">Register</a> or <a href="{% url 'account_login' %}">Log In</a> to leave a review!
            </p>
            {% endif %}
        </div>
    </div>
</div>