/*-------------------- Order History --------------------*/

.order-history {
    max-height: 416px;
    overflow-y: auto;
}

/*-------------------- Profile Form --------------------*/

#profile-update-form .form-control {
    color: #000;
    border: 1px solid #000000;
    margin-bottom: 7px;
}

#profile-update-form input::placeholder {
    color: #aab7c4;
}

#profile-update-form .form-control:focus {
    box-shadow: 0 0 0 0.25rem #ff521b4f;
}

#id_default_country,
#id_default_country option:not(:first-child) {
    color: #000;
}

#id_default_country option:first-child {
    color: #aab7c4;
}

.profile-badge {
    border: 1px solid #ff521b!important;
    background-color: #ff521b;
    color: #fff;
}

/*-------------------- Hover --------------------*/

.profile-badge:hover {
    border: 1px solid #d84719!important;
    background-color: #d84719;
    color: #fff;
}
