/* ---------- General CSS ---------- */

html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Titillium Web', sans-serif;
}

h1 {
    font-family: 'Bebas Neue', sans-serif;
}

.underline {
    text-decoration: underline;
}

.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: white;
    z-index: -1;
}

.title-span {
    color: #ff521b;
}

/* ---------- Top Navbar ---------- */

#topnav {
    background-color: #ff521b;
}

.form-control:focus {
    box-shadow: 0 0 0 0.25rem #fff9;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.search-btn {
    background-color: #fff;
    color: #ff521b;
}

/* ---------- Main Navbar ---------- */

.main-navbar {
    background-color: #ffc61d;
}

.link-main {
    margin-left: 20px;
    margin-right: 20px;
}

.navbar-light .navbar-nav .nav-link {
    color: #6f675a;
}

/* ---------- Carousel ---------- */

.carousel-padding {
    padding: 0;
}

.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
}

/* ---------- Brand Bar ---------- */

.brand-img {
    width: 120px;
    margin-bottom: 30px;
}

/* ---------- Products Page ---------- */

.cat-badge {
    border: 1px solid #ff521b!important;
    color: #ff521b;
}

/* ---------- Back To Top Button ---------- */

.btt-button {
    height: 50px;
    width: 50px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    border: 1px solid #ff521b;
}

a.btt-link {
    text-decoration: none;
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}

/* ---------- Hover ---------- */

/* -- Nav Bars -- */

.search-btn:hover {
    background-color: #ffc61d;
    color: #000;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #000;
}

.dropdown-item:focus, .dropdown-item:hover {
    background-color: #ffc61d;
}

/* -- Products Page -- */

.cat-badge:hover {
    color: #fff;
    background-color: #ff521b;
}

/* -- Products Page -- */

.btt-button:hover {
    background-color: #ff521b;
}

.btt-link:hover {
    color: #fff;
}

/* ---------- Media Queries ---------- */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
        max-width: 80%;
    }
    .header-container {
        padding-top: 112px;
    }
    .carousel-inner {
        height: 500px;
    }
    .brand-img {
        width: 190px;
        margin-bottom: 45px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .header-container {
        padding-top: 112px;
    }
    .carousel-inner {
        height: 500px;
    }
    .brand-img {
        width: 150px;
        margin-bottom: 30px;
    }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }
}

/* pad the top when navbar is collapsed on mobile */
@media (max-width: 991px) {
    .header-container {
        padding-top: 116px;
    }
}

/* Code for navbar hover dropdowns from https://bootstrap-menu.com/detail-basic-hover.html */
@media all and (min-width: 992px) {
	.navbar .nav-item .dropdown-menu{ display: none; }
	.navbar .nav-item:hover .dropdown-menu{ display: block; }
	.navbar .nav-item .dropdown-menu{ margin-top:0; }
}