<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
        <li class="nav-item active">
            <a class="nav-link link-main" href="{% url 'home' %}">Home</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle link-main" href="#" id="navbarDropdown1" role="button"
                data-bs-toggle="dropdown" aria-expanded="false">
                Skateboards
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown1">
                <li><a class="dropdown-item" href="{% url 'products' %}?category=completes,decks,trucks,wheels,grip_tape">All Skateboards</a></li>
                <li><a class="dropdown-item" href="{% url 'products' %}?category=completes">Completes</a></li>
                <li><a class="dropdown-item" href="{% url 'products' %}?category=decks">Decks</a></li>
                <li><a class="dropdown-item" href="{% url 'products' %}?category=trucks">Trucks</a></li>
                <li><a class="dropdown-item" href="{% url 'products' %}?category=wheels">Wheels</a></li>
                <li><a class="dropdown-item" href="{% url 'products' %}?category=grip_tape">Grip Tape</a></li>
            </ul>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle link-main" href="#" id="navbarDropdown2" role="button"
                data-bs-toggle="dropdown" aria-expanded="false">
                Clothing
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown2">
                <li><a class="dropdown-item" href="{% url 'products' %}?category=tshirts,hoodies,jumpers_sweatshirts,hats,backpacks_bags">All Clothing</a></li>
                <li><a class="dropdown-item" href="{% url 'products' %}?category=tshirts">T-Shirts</a></li>
                <li><a class="dropdown-item" href="{% url 'products' %}?category=hoodies">Hoodies</a></li>
                <li><a class="dropdown-item" href="{% url 'products' %}?category=jumpers_sweatshirts">Jumpers & Sweatshirts</a></li>
                <li><a class="dropdown-item" href="{% url 'products' %}?category=hats">Hats</a></li>
                <li><a class="dropdown-item" href="{% url 'products' %}?category=backpacks_bags">Backpacks & Bags</a></li>
            </ul>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle link-main" href="#" id="navbarDropdown2" role="button"
                data-bs-toggle="dropdown" aria-expanded="false">
                Skate Shoes
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown2">
                <li><a class="dropdown-item" href="{% url 'products' %}?category=adidas,converse,dc,es,etnies,lakai,nike_sb,vans">All Skate Shoes</a></li>
                <li><a class="dropdown-item" href="{% url 'products' %}?category=adidas">Adidas</a></li>
                <li><a class="dropdown-item" href="{% url 'products' %}?category=dc">DC</a></li>
                <li><a class="dropdown-item" href="{% url 'products' %}?category=etnies">Etnies</a></li>
                <li><a class="dropdown-item" href="{% url 'products' %}?category=nike_sb">Nike SB</a></li>
                <li><a class="dropdown-item" href="{% url 'products' %}?category=vans">Vans</a></li>
            </ul>
        </li>
        <li class="nav-item">
            <a class="nav-link link-main" href="#">Help & Guidance</a>
        </li>
        <li class="nav-item">
            <a class="nav-link link-main" href="#">Contact Us</a>
        </li>
    </ul>
</div>