<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
        <li class="nav-item active">
            <a class="nav-link link-main" href="{% url 'home' %}">Home</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle link-main" href="#" id="navbarDropdown1" role="button"
                data-bs-toggle="dropdown" aria-expanded="false">
                Skateboards
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown1">
                <li><a class="dropdown-item" href="#">All Skateboards</a></li>
                <li><a class="dropdown-item" href="#">Completes</a></li>
                <li><a class="dropdown-item" href="#">Decks</a></li>
                <li><a class="dropdown-item" href="#">Trucks</a></li>
                <li><a class="dropdown-item" href="#">Wheels</a></li>
                <li><a class="dropdown-item" href="#">Griptape</a></li>
            </ul>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle link-main" href="#" id="navbarDropdown2" role="button"
                data-bs-toggle="dropdown" aria-expanded="false">
                Clothing
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown2">
                <li><a class="dropdown-item" href="#">All Clothing</a></li>
                <li><a class="dropdown-item" href="#">T-Shirts</a></li>
                <li><a class="dropdown-item" href="#">Hoodies</a></li>
                <li><a class="dropdown-item" href="#">Jumpers</a></li>
                <li><a class="dropdown-item" href="#">Hats</a></li>
                <li><a class="dropdown-item" href="#">Backpacks & Bags</a></li>
            </ul>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle link-main" href="#" id="navbarDropdown2" role="button"
                data-bs-toggle="dropdown" aria-expanded="false">
                Skate Shoes
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown2">
                <li><a class="dropdown-item" href="#">All Skate Shoes</a></li>
                <li><a class="dropdown-item" href="#">Adidas</a></li>
                <li><a class="dropdown-item" href="#">DC</a></li>
                <li><a class="dropdown-item" href="#">Etnies</a></li>
                <li><a class="dropdown-item" href="#">Nike SB</a></li>
                <li><a class="dropdown-item" href="#">Vans</a></li>
            </ul>
        </li>
        <li class="nav-item">
            <a class="nav-link link-main" href="#">Help & Guidance</a>
        </li>
        <li class="nav-item">
            <a class="nav-link link-main" href="#">Contact Us</a>
        </li>
    </ul>
</div>