{% extends "base.html" %}
{% load static %}

{% block page_header %}

    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>

{% endblock %}

{% block content %}

    <div class="overlay"></div>
    <!----- Product Detail Page ----------------------------------->
    <!----- Breadcrumb Links ----->
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
          <li class="breadcrumb-item"><a href="{% url 'products' %}?category={{ product.category.name }}">{{ product.category.friendly_name }}</a></li>
          <li class="breadcrumb-item active" aria-current="page">{{ product.name }}</li>
        </ol>
    </nav>
    <!----- Product ----->
    <div class="container-fluid mb-3">
        <div class="row">
            <!----- Product Image ----->
            <div class="col-12 col-md-6 col-lg-4 offset-lg-2 me-5">
                <div class="image-container my-5">
                    {% if product.image %}
                        <a href="{{ product.image.url }}" target="_blank">
                            <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                        </a>
                        {% else %}
                        <a href="">
                            <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                        </a>
                    {% endif %}
                </div>
            </div>
            <!----- Product Details ----->
            <div class="col-12 col-md-6 col-lg-4">
                <div class="product-details-container mt-md-5">
                    <!----- Product Name, Price and Category ----->
                    <h1 class="mb-3">{{ product.name }}</h1>
                    <p class="lead mb-3">£{{ product.price }}</p>
                    {% if product.category %}
                    <p class="small mb-3">
                        <a class="text-muted" href="{% url 'products' %}?category={{ product.category.name }}">
                            <i class="fas fa-tag mr-1"></i>{{ product.category.friendly_name }}
                        </a>
                    </p>
                    {% endif %}
                    <!-- {% if product.rating %}
                        <small class="text-muted"><i class="fas fa-star mr-1"></i>{{ product.rating }} / 5</small>
                    {% else %}
                        <small class="text-muted">No Rating</small>
                    {% endif %} -->

                    <!----- Edit/Delete Product Option for Superusers ----->
                    {% if request.user.is_superuser %}
                        <small class="ml-3">
                            <a href="{% url 'edit_product' product.id %}">Edit</a> |
                            <a href="{% url 'delete_product' product.id %}" class="text-danger">Delete</a>
                        </small>
                    {% endif %}
                    <!----- Product Description ----->
                    <p class="mt-3">{{ product.description }}</p>
                    <!----- Product Size Option ----->
                    <form class="form" action="{% url 'add_to_bag' product.id %}" method="POST">
                        {% csrf_token %}
                        <div class="form-row">
                            {% with product.has_sizes as s %}
                            {% if s %}
                                <div class="col-12">
                                    <p><strong>Size:</strong></p>
                                    <select class="form-control w-50 size-select" name="product_size" id='id_product_size'>
                                        <option value="xs">XS</option>
                                        <option value="s">S</option>
                                        <option value="m" selected>M</option>
                                        <option value="l">L</option>
                                        <option value="xl">XL</option>
                                    </select>
                                </div>
                            {% endif %}
                            <!----- Product Quantity ----->
                            <div class="col-12">
                                <p class="mt-3"><strong>Quantity:</strong></p>
                                <div class="form-group w-50">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <button class="decrement-qty btn rounded-0" 
                                                data-item_id="{{ product.id }}" id="decrement-qty_{{ product.id }}">
                                                <span class="icon">
                                                    <i class="fas fa-minus"></i>
                                                </span>
                                            </button>
                                        </div>
                                        <input class="form-control qty_input" type="number" name="quantity"
                                        value="1" min="1" max="99" data-item_id="{{ product.id }}" id="id_qty_{{ product.id }}">
                                        <div class="input-group-append">
                                            <button class="increment-qty btn rounded-0"
                                                data-item_id="{{ product.id }}" id="increment-qty_{{ product.id }}">
                                                <span class="icon">
                                                    <i class="fas fa-plus"></i>
                                                </span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!----- Keep Shopping/Add To Bag Buttons ----->
                            <div class="col{% if s %}-12 mt-2{% endif %} mb-3">
                                <a href="{% url 'products' %}" class="btn bb2 rounded-0 mt-5 me-3">
                                    <span class="icon">
                                        <i class="fas fa-chevron-left"></i>
                                    </span>
                                    <span class="text-uppercase">Keep Shopping</span>
                                </a>
                                <input type="submit" class="btn bb1 rounded-0 text-uppercase mt-5" value="Add to Bag">
                            </div>
                            <input type="hidden" name="redirect_url" value="{{ request.path }}">
                            {% endwith %}
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!----- Product Reviews Section ------------------------------->
    <div class="container-fluid review-container pt-5 pb-5">
        <!----- Product Reviews ----------------------------------->
        <div class="row">
            <div class="col-12 col-md-10 col-lg-6 offset-lg-3"> 
                <h1 class="text-center underline">Reviews</h1> 
                {% for review in product.reviews.all %}
                    <div class="card mt-5 rounded-0">
                        <!----- Review Card ----->
                        <div class="card-body">
                            <p class="small text-muted"> by {{ review.user }} on {{ review.date_added|date:"d-m-Y"}}</p>    
                            <p class="card-title">{{ review.title }}<i class="ml-5 fas fa-star"></i> {{ review.rating }}/5</p>
                            <p class="card-text lead">{{ review.content }}</p>
                        </div>
                        <!----- Edit Review Button ----->
                        {% if review.user == request.user or request.user.is_superuser %}
                            <div class="card-head">
                                <a class="btn" href="{% url 'edit_review' review.id %}#reviews">
                                    <i class="fas fa-edit"></i> Edit Review
                                </a>
                            </div>
                        {% endif %}
                    </div>
                {% empty %}
                    <div class="text-center mt-5">
                        <p class="review-text">No reviews yet! Why not leave the first?</p>
                    </div>
                {% endfor%}
            </div>
        </div>
        <!----- Review Form --------------------------------------->
        <div id="reviews" class="row">
            <div class="col-12 col-md-10 col-lg-4 offset-lg-4">
                <!----- hr To Display If No Reviews ----->
                {% for review in product.reviews.all %}
                {% empty %}
                    <hr>
                {% endfor %}
                {% if request.user.is_authenticated %}
                    <h5 class="text-center underline mt-4 mb-2">Write your review here!</h5>
                {% else %}
                    <p class="review-text text-center mt-4">
                        <a href="{% url 'account_signup' %}">Register</a> or <a href="{% url 'account_login' %}">Log In</a> to leave a review!
                    </p>
                {% endif %}
                <!----- Form Display If User ----->
                {% if request.user.is_authenticated %}
                    {% if edit %}
                        <!----- Edit Existing Review ----->
                        <form method="POST" action="{% url 'edit_review' review.id %}#reviews">
                            {% csrf_token %}
                            {{ form|crispy }}
                            <div class="text-center">
                                <button class="btn" type="submit">Update Review</button>
                            </div>
                        </form>
                    {% else %}
                        <!----- Submit New Review ----->
                        <form method="POST" action="{% url 'add_review' product.id %}#reviews">
                            {% csrf_token %}
                            {{ form|crispy }}
                            <div class="text-center mt-3">
                                <button class="btn bb1 rounded-0 text-uppercase" type="submit">Submit Review</button>
                            </div>
                        </form>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}

{% block postloadjs %}

    {{ block.super }}
    {% include 'products/includes/quantity_input_script.html' %}

{% endblock %}